html, body{
	margin:0px;
	padding:0px;
}

.cover-body{
	position:absolute;
	top: 0px;
	height:270px;
	width:100%;
	padding:5px;
	border-bottom:1px solid black;
	border-top:1px solid black;
	background-image:url(cover.jpg);
}


.title-body{
	position: relative;
	width:100%;
	height:70px; 	
	margin-left:37%;
	margin-top:110px;
}

.title{
	font-family: Gill Sans Extrabold, sans-serif;
	background-color: rgba(0, 153, 153, 0.7);
	color:white;
	padding:15px;
	font-size:40px;
}

.title:hover{
	outline: 5px solid #009999;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgb(0, 153, 153);
}

nav{
	width: 100%;
	font-size: 20px;
	margin-top:270px;
}